/.cache
/node_modules
*.log
/errors
/.vscode
/dist
.DS_Store
coverage
.idea
yarn-error.log
/test-results

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions